.mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem 3rem 1rem;
  gap: 5rem;
  word-wrap: break-word;
  overflow-x: hidden;
}

.infoLeft {
  padding-top: 1rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
  border-right: 3px solid black;
}


.imageWrapper {
  display: flex;
  justify-content: center;
  width: 80%;
}

.imageWrapper img {
  transition: 200ms ease-in-out;
  width: 300px;
  aspect-ratio: 1 / 1.5;
}

.scaleOnHover {
  overflow: hidden;
  height: max-content;
  width: max-content;
}

.scaleOnHover:hover .imageInfo {
  scale: 1.1;
}

.detailsWrapper {
  width: 70%;
}

.animeBackground {
  font-size: .8em;
  margin: 1rem 0;
}

.detail {
  font-size: .8em;
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.dropdownHeader {
  padding-top: 1rem;
}

.dropdownHeader h2 {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  width: max-content;
}

.dropdownHeader svg {
  pointer-events: none;
}

.dropdownContent {
  font-size: .8em;
  margin-left: 1rem;
}

.dropdownContent a {
  text-decoration: underline;
}

.titles {
  margin-bottom: 2rem;
}

.titleNormal {
  font-size: 3.5rem;
  position: relative;
  line-height: 1;
}

.videoResponsive {
  margin: 0 auto;
  text-align: center;
}


.videoResponsive iframe {
  width: 350px;
  height: 300px;
  outline: none;
  border: none;
}

@media (width >= 768px) {
  .videoResponsive iframe {
    width: 600px;
    height: 400px;
  }

  .top {
    display: flex;
    gap: 2rem;
  }
}

@media (width >= 1024px) {
  body {
    font-size: 17px;
  }

  .mainContainer {
    display: grid;
    min-height: 120vh;
    width: 80%;
  }

  .animeBackground {
    margin-bottom: 1rem;
  }

  .dropdownHeader {
    padding-top: 1rem;
  }

  .videoResponsive iframe {
    width: 700px;
    height: 400px;
  }
}

@media (width >= 1280px) {
  body {
    font-size: 18px;
  }
  .videoResponsive iframe {
    width: 900px;
    height: 600px;
  }

  .infoLeft {
    flex: 1;
  }

  .infoRight {
    flex: 3;
  }

  .description {
    line-height: 1.7;
  }

  .imageWrapper img {
    float: left;
    width: 200px;
    height: auto;
    object-fit: cover;
  }
}