.container {
  min-height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  overflow-x: hidden;
}

.container h1 {
  /* font-size: 4em; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* margin-top: 1rem; */
}

.container {
  margin-left: 3rem;
}

.randomAnime {
  padding: 1rem;
  border: 2px solid black;
  background-color: #222;
  color: white;
}

.suggestion {
  width: 30vw;
  opacity: 1;
  transition: 200ms ease-in-out;
  animation: show 1s ease-in-out;
}

.randomAnime > p {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

.title {
  font-size: 1em;
}

.synopsis {
  font-size: .8em;
}

@keyframes  show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}