.container {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  /* font-size: 3em; */
  overflow-x: hidden;
}

.container > h2 {
  font-size: clamp(3rem, -0.7952rem + 16.8675vw, 10rem);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  font-size: .9em;
}

.synopsis {
  font-size: .8em;
}
