footer {
  display: grid;
  place-content: center;
  padding: 2rem;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
}

.media a {
  display: block;
  width: max-content;
  margin-inline: auto;
  text-align: center;
}

.copy p {
  /* margin-inline: auto; */
  text-align: center;
}

.icon {
  font-size: 2em;
  cursor: pointer;
}

.note {
  font-size: .7em;
}