.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #181818;
  padding: .55rem;
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
  font-family: 'Leckerli One', cursive;
}

.letters {
  display: flex;
  width: max-content;
}

.letter {
  display: block;
  font-weight: bold;
  letter-spacing: 10px;
  color: white;
}

.letter {
  animation: jello 2s infinite;
}

.searchBar {
  width: 10rem;
  display: flex;
  align-items: center;
  border-radius: 0.2em;
  background-color: white;
  transition: 100ms ease-in-out;
  height: 2.3rem;
}

.searchBar svg {
  transition: all 200ms ease-in-out;
}

.searchBar:focus-within {
  background-color: #adacac;
}

.searchBar:focus-within svg {
  transform: scale(0.7);
}

.searchInput {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  margin-left: 2rem;
  transition: all 500ms;
}

.menuButton {
  position: fixed;
  right: 1rem;
  top: .85rem;
  z-index: 10;
  cursor: pointer;
}

.buttonWrapper {
  pointer-events: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bar,
.bar::before,
.bar::after {
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 0.5rem;
  transition: all var(--transitionSpeed) ease-in-out;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
}

.bar::before {
  transform: translateY(-10px);
}

.bar::after {
  transform: translateY(10px);
}

.buttonWrapper.open .bar {
  transform: translateX(-30px);
  background: transparent;
}

.buttonWrapper.open .bar::before {
  transform: rotate(45deg) translate(20px, -20px);
}

.buttonWrapper.open .bar::after {
  transform: rotate(-45deg) translate(20px, 20px);
}

.sidebar {
  width: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #181818;
  top: 0;
  right: 0;
  margin-top: 3.4rem;
  transition: width var(--transitionSpeed) ease;
  position: fixed;
  z-index: 2;
}

.sidebar.open {
  width: 100%;
}

.sidebar ul {
  list-style: none;
  margin: 0 auto;
  color: white;
}

.sidebar li {
  text-align: center;
}

.sidebar li:hover {
  background-color: #333333;
}

.sidebar a {
  color: inherit;
  display: block;
  width: 100%;
  color: inherit;
  padding: 1em 0;
}

.sidebar svg {
  font-size: 4em;
}

@media (width >= 768px) {
  .searchBar {
    width: 20rem;
  }
  .sidebar.open {
    width: 300px;
  }
}

@keyframes jello {
  10% {
    transform: none;
  }
  20% {
    transform: skewX(15deg) skewY(15deg);
  }
  30% {
    transform: skewX(-6deg) skewY(-6deg);
  }
  40% {
    transform: skewX(3deg) skewY(3deg);
  }
  50% {
    transform: skewX(-1.5deg) skewY(-1.5deg);
  }
  60% {
    transform: skewX(.7deg) skewY(.7deg);
  }
  70% {
    transform: skewX(-.3deg) skewY(-.3deg);
  }
  80% {
    transform: skewX(.15deg) skewY(.15deg);
  }
  90% {
    transform: none;
  }
}
