:root {
  --transitionSpeed: 200ms;
}

::selection {
  background-color: #666;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Fredoka One", cursive; */
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.loading {
  font-size: 5rem;
  margin-inline: auto;
}

/* TODO: Refactor all styles */

footer {
  /* margin-top: 10rem; */
  display: grid;
  place-content: center;
  padding: 2rem;
  width: 100%;
  font-family: "IBM Plex Mono", monospace;
}

.media a {
  display: block;
  width: max-content;
  margin-inline: auto;
  text-align: center;
}

.copy p {
  /* margin-inline: auto; */
  text-align: center;
}

.icon {
  font-size: 2em;
  cursor: pointer;
}

.note {
  font-size: 0.7em;
}

.container {
  width: 70vw;
  height: 100vh;
  padding-top: "3.5rem";
  font-size: 2em;
  display: grid;
  place-content: center;
  text-align: center;
}

.conatiner > p {
  font-size: .8em;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  gap: 1rem
}

.loading-screen > span {
  font-size: 3em;
}

.loading-screen > svg {
  font-size: 4em;
  margin-top: .7rem;
}

.main-header {
  font-family: "Space Mono", monospace;
  background: #181818;
  color: white;
  text-align: center;
  font-size: 3em;
  width: max-content;
  margin-inline: auto;
  padding: 1rem;
  /* border-radius: 1rem; */
  margin-top: 3rem;
}

@media (width <= 640px) {
  .loading-screen {
    flex-direction: column;
  }

  .main-header {
    font-size: 2em;
    margin-top: 2rem;
  }
}