:root {
  --transitionSpeed: 200ms;
}

::selection {
  /* background-color: #0a707e; */
  background-color: rgb(168, 111, 5);
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: burlywood;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Fredoka One", cursive; */
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.loading {
  font-size: 5rem;
  margin-inline: auto;
}

/* TODO: Refactor all styles */